#download {

    .icon {
        text-align: center;

        &.icon-box {

            a {
                display: block;
                height: 100%;
                width: 100%;
                background: #fff;
                padding-top: 1rem;
                padding-bottom: 1rem;
                color: $blueGreyDarken4;
                margin-bottom: 1rem;

                &:hover,
                &:focus {
                    color: $pinkDarken1;
                }
            }

            span {
                font-size: 8.5rem;
                display: block;
                margin-bottom: 0.75rem;
            }
        }
    }
}