@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic);

* {
    border-radius: 0px !important;
}

html,
body {
    height: 100%;
    font-size: 16px;
    background: #efebe9;
    color: #263238;
    font-family: Roboto, sans-serif;
}

.guide-content, .api-content {
    max-width: 1250px;
}

.guide-content img, .api-content img {
    max-width: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    width: auto;
    margin: 60px 30px 0 30px;
    padding: 0;
}

.footer {
    height: 60px;
    background-color: transparent;
    border-top: 0px;
    padding: 20px 30px;
}

#navigation {
    margin-top: 20px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background: #263238 ;
    border-color: transparent;
}
.submenu .list-group-item:last-child {
    border-bottom-color: #263238;
}

.submenu a {
    background: #f5f5f5;
    border-radius: 0;
}

.submenu a:hover, .submenu a:active,
.submenu a.active, .submenu a.active:hover, .submenu a.active:active {
    background: #d81b60;
    border-color: transparent;
    border-radius: 0;
    color: #fff;
}

.signature, .table-striped > tbody > tr > td.signature {
    margin: 10px 0 10px 0;
    padding: 15px;

    color: #000000;
    background: #fff;
    border: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    font-family: monospace !important;
    line-height: 1.3em;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}

pre {
    background: #efefef;
}

pre code.hljs {
    background: transparent;
    color: #28353d;
}
/* adjust comment color of hljs, because comments are important! */
.hljs-comment {
  color: #ff6900;
  font-style: normal;
}

blockquote {
    font-size: 14px;
}

blockquote.warning { /* copy of bootstrap .alert-danger */
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

blockquote.note { /* copy of bootstrap .alert-warning */
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

blockquote.info { /* copy of bootstrap .alert-info */
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

blockquote.tip { /* copy of bootstrap .alert-success */
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}


td p {
    margin: 0;
}

table.detail-table .param-name-col { width: 15%; min-width: 100px; }
table.detail-table .param-type-col { width: 15%; min-width: 150px; }
table.detail-table .param-desc-col { width: 70%; }

table.summary-table .col-method   { width: 20%; }
table.summary-table .col-property { width: 20%; }
table.summary-table .col-const    { width: 20%; }
table.summary-table .col-event    { width: 20%; }
table.summary-table .col-defined  { width: 15%; }

.detail-header {
    margin-top: 30px;
}

.doc-description {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    padding: 10px 8px;
    margin: 0;
}

.event-doc .doc-description {
    border-bottom: solid 1px #ddd;
}

.doc-description p:last-child {
    margin-bottom: 0;
}

.signature-defs {
    color: #936;
}

.signature-type, .signature-type a {
    color: #693;
}

.tool-link {
    float: right;
    color: #bbb;
    margin: 0 8px;
}

.icon-hash:before {
    content: '#';
    font-size: 32px;
    font-weight: bold;
    /*top: -10px;*/
    line-height: 0.5;
}

.tool-link:hover {
    color: #d81b60;
    text-decoration: none;
}

.hashlink {
    display: none;
}

h1:hover .hashlink, h2:hover .hashlink, h3:hover .hashlink, h4:hover .hashlink, h5:hover .hashlink {
    display: inline;
}

.toplink {
    position: fixed;
    bottom: 50px;
    right: 50px;

    padding: 5px 8px 0 5px;

    border: solid 1px #ddd;
    border-radius: 5px;
    background: #fff;
}

.toplink a {
    color: #bbb;
    text-decoration: none;
}

.toplink a:hover {
    color: #999;
    text-decoration: none;
}

#search-resultbox {
    position: fixed;
    left: 25%;
    right: 25%;
    bottom: 0;
    top: 50px;
    z-index: 1000;

    border-radius: 0;
    /* reset all due to android browser issues http://caniuse.com/#search=border-radius */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#search-results {
    margin: 0;
    padding: 0;
    list-style: none;

    overflow: auto;
    max-height: 100%;
}

#search-results li, #search-results li a {
    margin: 0;
    padding: 0;
    display: block;
    min-height: 50px;
    width: 100%;

    color: #333333;
}

#search-results li a .title, #search-results li .no-results {
    padding: 10px 20px 5px 20px;
    display: block;

    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
}

#search-results li a .description {
    padding: 5px 20px 10px 20px;
    display: block;

    text-decoration: none;
    font-weight: normal;
    font-size: 90%;
    border-bottom: solid 1px #dddddd;
}

#search-results li a:hover, #search-results li a.selected {
    background: #44B5F6;
    text-decoration: none;
}

.navbar-form {
    width: 50%;
    max-width: 350px;
}

.navbar-form div, .navbar-form .form-control {
    width: 100%;
}

.broken-link {
    background: lightpink;
}

tr.deprecated td,
tr.deprecated th {
    background: lightpink;
}

.wrap > .navbar-inverse {
    background: #263238;
    border: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.wrap > .navbar-inverse * {
    color: #fff;
}

a {
    color: #795548;
    text-decoration: none;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}
a:hover,
a:focus {
    color: #d81b60;
    text-decoration: none;
}

.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

.summary-table td,
.summary-table th,
.summaryTable th,
.summaryTable td {
    padding: 15px 5px !important;
}

.table-hover > tbody > tr:hover {
    background-color: transparent;
}

.table-striped > tbody > tr:nth-child(odd),
.table-striped > tbody > tr:nth-child(odd):hover {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-child(even),
.table-striped > tbody > tr:nth-child(even):hover {
    background-color: #f5f5f5;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0px;
}

h1 {
    margin-bottom: 20px;
}
h2 {
    margin-top: 35px;
}

.summaryTable {
    background: #fff;
    margin-bottom: 35px;
}

.class-description pre {
    background: #fff;
    border: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}