.prism {

    code[class*="language-"],
    pre[class*="language-"] {
        font-family: monospace !important;
        background: #fff;

        * {
            font-family: monospace !important;
        }
    }

    div.prism-show-language {

        .prism-show-language-label {
            background: $blueGreyDarken4;
            color: #fff;
            border-radius: 0;
        }
    }

    &.outdated {
        background: $greyLighten2;

        * {
            background: $greyLighten2 !important;
            color: $grey !important;
        }
    }
}